<html><head></head>
<body>
<title>content.ai</title>
<h1 style="font-family: roboto;text-align: center;">content.ai</h1>

<!--<video autoplay muted controls preload="auto" src="/static/7C2A1862-roto-before.mov" type="video/mp4">-->
<div style="text-align:center;">
    <video mute loop autoplay preload="auto" width="512">
    <source src="/static/7C2A1862-roto-before-vlc.webm" type="video/webm">
    <source src="/static/7C2A1862-roto-before.mp4" type="video/mp4">
    sorry, your browser doesn't like this video format
</video><video mute loop autoplay preload="auto" width="512">
    <source src="/static/7C2A1862-roto-after-vlc.webm" type="video/webm">
    <source src="/static/7C2A1862-roto-after.mp4" type="video/mp4">
    sorry, your browser doesn't like this video format
</video>
</div>

<div>
    <form action="/upload/new" method="post" enctype="multipart/form-data">
    <input type="file" name="fileToUpload"><br>
    <input type="submit">
    </form>
</div>
</body></html>