<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="/media/static/css/home.css">
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
</head>
<body>
    <div class="container">
        <h1 class="banner">Media REST Api Demo Application</h1>
        <div class="section editor left">
            <label for="guid">Guid
                <input id="guid" type="text" />
            </label>
            <br />
            <label for="filename">Filename
                <input id="filename" type="text" />
            </label>
            <br />
            <label for="uri">Uri
                <input id="uri" type="text" />
            </label>

            <br />

            <button id="create">Create</button>
            <button id="update">Update</button>
            <button id="delete">Delete</button>
            <button id="reset">Reset</button>
        </div>
         <div class="section editor center">
            <label for="frame">Frame
                <input id="grabcut_frame" type="text" />
            </label>
            <br />
            <label for="filename">Filename
                <input id="grabcut_filename" type="text" />
            </label>
            <br />
            <label for="region">Region
                <!--<input id="grabcut_region" type="text" />-->
                x<input id="grabcut_region_x" type="int" size="4"/>
                y<input id="grabcut_region_y" type="int" size="4"/>
                w<input id="grabcut_region_width" type="int" size="4"/>
                h<input id="grabcut_region_height" type="int" size="4"/>

            </label>
            <br />
            <!--<label for="preview">preview-->
                <!--<img height="100" id="a_grabcut_preview" src="" />-->
            <!--</label>-->
            <!--<br />-->
            <button id="grabcut_create">Create</button>

        </div>
        <div class="section preview right">
            <label for="preview">preview</label>
            <br />
            <a href="" id="grabcut_preview_url">
                <img height="100" id="grabcut_preview" src="" />
            </a>
        </div>
        <div class="media">
            <table>
                <caption>Media</caption>
                <thead>
                    <tr>
                        <th>Guid</th>
                        <th>Filename</th>
                        <th>Uri</th>
                        <th>Update Time</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="error">
        </div>
    </div>
</body>
<script src="/media/static/js/home.js"></script>
</html>