#missing link gunicorn script 
[Unit]
Description=gunicorn service
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/missinglink
ExecStart=/home/ubuntu/.local/bin/gunicorn --access-logfile - --workers 3 --bind 0.0.0.0:8000 missinglink.wsgi

[Install]
WantedBy=multi-user.target

